<div class="card text-center">
    <img src="../../assets/images/banner1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay"> 
        <br>
        <br>
      <h5 class="card-title fw-bold">FoodCupons</h5>
      <p class="card-text fs-3">¡Todos los descuentos en un solo lugar! Paga Menos, Come Mas</p>
      <p class="card-text fst-italic">Cupones para todo Bogota</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-end">
            <div class="row g-0">
            <div class="col-md-3">
                <img src="../../assets/images/corral_promo1.jpg" class="img-fluid rounded-start" alt="Corral">
            </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Hasta 30% descuento</h5>
            <p class="card-text">¡Corralazos de ultima hora! Escoge entre pollo mexicano, callejera y criolla</p>
            <button type="button" class="btn btn-outline-secondary">Ver Promocion</button>
            </div>
        </div>
            </div>
        </div>
    </div>
        <div class="card text-end">
            <div class="row g-0">
            <div class="col-md-3">
                <img src="../../assets/images/qbano_promo1.jpg" class="img-fluid rounded-start" alt="Qbano">
            </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Hasta 20% descuento</h5>
            <p class="card-text">¡Combos para calmar el hambre! Sandiwch Pavo, Azteca, costilla y mucho mas</p>
            <button type="button" class="btn btn-outline-secondary">Ver promocion</button>
            </div>
        </div>
            </div>
        </div>
    </div>
<carousel>
    <div class="row row-cols-1 row-cols-md-5 g-4"></div>
    <slide>
      <div class="text-center py-5 bg-text-white" style="background-color:#595661;">
        <div class="card-group">
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
              </div>
            <div class="card border-0 bg-transparent">
              <img src="../../assets/images/corral_logo.png" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/qbano_logo.png" class="card-img-top" alt="...">
              </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/randys_icono.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/crepes&wafles_wafles.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/calimio_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/wok_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/burguer_king_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/dominos_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/presto_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/kfc_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
            </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-text-white" style="background-color:#595661;">
        <div class="card-group">
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
              </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/mcdonalds_logo.png" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/sierra_nevada_logo.png" class="card-img-top" alt="...">
              </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/papa_jons_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/ppc_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/spoleto_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/don_jediondo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/andres_carnederes.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/dogger_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/arroz_paisa_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/mis_carnes_parrilla_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
            </div>
      </div>
    </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-text-white" style="background-color:#595661;">
        <div class="card-group">
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
              </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/yanuba-logo.png" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/la_gordis_logo.png" class="card-img-top" alt="...">
              </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/buffalo_wings_alitas_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/parrilla_boyacense_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/los_pollitos_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/leños_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/surtidora_de_aves_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/la_pecosa_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/las_delicias_de_la_abuela_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/pesquera_jaramillo_logo.png" class="card-img-top" alt="...">
            </div>
            <div class="card border-0 bg-transparent">
                <img src="../../assets/images/vacio_logo.png" alt="..."style="background-color;#595661;">
            </div>
      </div>
    </div>
    </slide>
  </carousel>
<ul class="nav justify-content-start">
    <li class="nav-item">
        <a class="nav-link fs-5 fw-bold" style="color:#b08e44;" aria-current="page" href="#">Ofertas Populares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-bold" style="color:#b08e44;" href="#">Nuevas Ofertas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-bold" style="color:#b08e44;" href="#">Exclusivo de FoodCupons</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link fs-5 fw-bold fst-italic" style="color:#b08e44;" href="#">¡Ultimo Minuto!</a>
    </li>
</ul>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
      <div class="card " style="border-color: #b08e44;">
        <img src="../../assets/images/la_gordis_oferta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Cupon La Gordis: Hasta 40% off por tiempo limitado</h5>
          <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/sierra_nevada_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Aprovecha 10k de descuento en este combo</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/los_pollitos_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Aprovecha 30% de descuento + envio gratis</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/wok_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">10% de descuento en tu primera compra</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/don_jediondo_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">¡Don Jediondo days! 30% de descuento </h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
      <div class="card " style="border-color: #b08e44;">
        <img src="../../assets/images/kfc_oferta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Cupon KFC: Ahorra 50% en cada combo</h5>
          <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/leños_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Descarga la App de Leños y recibe este combo</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/spoleto_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Cupon de $20.000COP de descuento en Spoleto</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/ppc_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Aprovecha esta oferta por tiempo limitado</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card " style="border-color: #b08e44;">
            <img src="../../assets/images/qbano_oferta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">10% de descuento en combo duo y bedida gratis</h5>
              <button type="button" class="d-grid gap-2 col-6 mx-auto btn btn-primary" style="background-color:#b08e44 ;border-color: yellow;">Ver Cupon</button>
            </div>
          </div>
    </div>
  </div>
  