<br>
<nav class="navbar " style="background-color: #b08e44; ">
    <div class="container justify-content-start">
        <a class="navbar-brand" href="#">   
        </a>
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link" style="color:#595661;" aria-current="page" href="#">Terminos de Uso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#595661;" href="#">Politicas de privacidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#595661;" href="#">Contacto</a>
            </li>  
        </ul> 
    </div>
    <span class="navbar-brand" style="color:#595661 ;">
        FoodCupons
        <img src="assets/images/restaurant-icon.jpg" alt="" width="50" height="40">
    </span>
</nav>
