<br>
<ul class="h4">Iniciar Sesion</ul>
<br>
<div class="row">
  <div class="col"><img src="../../assets/images/iniciar-sesion.png" alt=""></div>
  <div class="col">
    <form [formGroup]="loginForm">
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-10 col-form-label">Correo Electronico</label>
        <div class="col-md-6 mb-3">
          <input
            type="email"
            class="form-control"
            style="border-color:#595661;"
            formControlName="email"
            [ngClass]="{'is-invalid': this.loginForm.controls['email'].invalid}"
          >
          <div
            *ngIf="this.loginForm.controls['email'].touched && this.loginForm.controls['email'].errors?.['required']"
            class="text-danger"
          >
            Campo requerido
          </div>
          <div
            *ngIf="this.loginForm.controls['email'].touched && this.loginForm.controls['email'].errors?.['email']"
            class="text-danger"
          >
            El correo debe tener el formato correcto
          </div>
        </div>
        <label for="inputPassword5" class="col-sm-10 col-form-label">Contraseña</label>
        <div class="col-md-6 mb-3">
          <input
            type="password"
            class="form-control"
            style="border-color:#595661 ;"
            formControlName="password"
            [ngClass]="{'is-invalid': this.loginForm.controls['email'].invalid}"
          >
          <div
            *ngIf="this.loginForm.controls['password'].touched && this.loginForm.controls['password'].errors?.['required']"
            class="text-danger">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="col-sm-10" >
        <div class="form-check" >
          <input
            class="form-check-input"
            style="border-color:#595661;"
            type="checkbox"
            formControlName="remembercheck"
          >
          <label class="form-check-label" for="autoSizingCheck2">
            Recordarme en este dispositivo
          </label>
        </div>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          style="border-color:#595661;"
          type="checkbox"
          formControlName="logincheck"
        >
        <label class="form-check-label" for="invalidCheck">
          Acepto terminos y condiciones
        </label>
        <div
          *ngIf="this.loginForm.controls['logincheck'].touched && this.loginForm.controls['logincheck'].errors?.['required']"
          class="text-danger">
          Campo requerido
        </div>
      </div>
      <br>
      <div class="col-sm-10">
        <button
          type="submit"
          class="btn btn-primary"
          style="background-color: #595661 ; border-color: white ;"
          (click)="login()"
        >
          Entrar
        </button>
      </div>
    </form>
    <br>
    <div
      class="alert alert-danger"
      role="alert"
      style="width: 20rem;"
      *ngIf="dbBoolean != false"
      >
       Usuario o contraseña invalidos!
    </div>
    <br>
    <small id="passwordHelpBlock" class="form-text text-muted" >
      ¿Ya tienes una cuenta? <a class="nav-link" routerLink="/iniciar-sesion" routerLinkActive="active">Inicia Sesion</a>
    </small>
  </div>
</div>
