<br>
<ul><h3>Terminos y condiciones</h3></ul>
<ul>Usando los servicios  del portal usted admite que entiende y acepta los términos y condiciones siguientes:</ul>
<ul class="lead" >Quienes Somos</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    El portal que recaba información sobre códigos, cupones y vales de descuento, promociones y rebajas ofrecidas por terceros tiendas y servicios en la Red que no están conectados con nuestro portal ni sus propietarios. Los servicios ofrecidos por el portal son completamente gratuitos y accesibles para todos. El portal no es responsable de los productos y servicios publicados en las ofertas. Si usted tiene preguntas sobre las ofertas en nuestro sitio contacte directamente con las tiendas que las ofrecen.
</p>
<ul class="lead" >Codigos de descuento</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    La Información sobre los códigos que aparecen en nuestro sitio puede ser diferente de las ofertas reales en las tiendas indicadas. El portal no se hace responsable por la información incorrecta y las ofertas que hayan caducado. Aunque nos esforzamos por vigilar y controlar los códigos publicados, se puede sar el caso de que los usuarios encontraran ofertas ya no válidas. El usuario es responsable de la manera en la que utiliza los códigos que se encuentran en nuestra página. El portal no se hace responsable de los abusos en los que se pueda incurrir por la utilización de la información facilitada en este portal.
</p>
<ul class="lead" >Cuenta</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    El portal ofrece a sus usuarios la posibilidad de registrar un perfil que les permita seguir las ofertas de las tiendas destacadas. La creación de la cuenta es totalmente gratuita. El registro requiere el consentimiento expreso para recibir notificaciones sobre nuevas ofertas por correo electrónico.
</p>
<ul class="lead" >Suscripciones</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    El portal permite a sus usuarios suscribirse al newsletter sobre tiendas destacadas. De acuerdo con el deseo del usuario podrán serle enviadas notificaciones. Para editar o eliminar notificaciones el usuario debe crear su propio perfil o usar el enlace incluído en la parte inferior de cada correo recibido desde nuestro portal. Para limitar el número de notificaciones recibidas, recomendamos suscribirse sólo a las tiendas que tengan el mayor interés para usted.
</p>
<ul class="lead" >Anular suscripciones y/o eliminar cuenta</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    Para anular suscripciones o eliminar la cuenta por favor póngase en contacto con nosotros a través del formulario de contacto en "Contacto". No recabamos informacion sobre cuentas eliminadas, por lo que no habrá posibilidad alguna de recuperarlas tras de su anulación.
</p>
<ul class="lead" >Privacidad</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    La protección de su privacidad es lo más importante para nosotros. Toda la información obtenida es utilizada solamente por el portal y no es compartida o vendida a terceros, ni utilizada con usos distintos a los descritas en la política de privacidad. Más información sobre la recabación de datos de los usuarios puede ser consultada aquí.
</p>
<ul class="lead" >Aceptacion</ul>
<p class="text-justify" style="margin-left: 2rem ; margin-right: 2rem;">
    El acceso y uso del portal de implica la aceptación de estos términos y condiciones. Cada cambio o actualización será publicada en esta sección. En caso de dudas o preguntas por favor comuníquese con nosotros a través del formulario de contacto en la sección “Contacto”.
</p>