<nav class="navbar" style="background-color: #595661;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/restaurant-icon.png" alt="" width="50" height="40">
            <span class="navbar-text" style="color:white ;">
                FoodCupons
              </span>
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-primary"style="background-color: #b08e44; border-color:white" type="submit">Buscar</button>
        </form>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" style="color:white;" routerLink="/como-funciona" routerLinkActive="active" ariaCurrentWhenActive="page">¿Como funciona?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white;" routerLink="/iniciar-sesion" routerLinkActive="active">Iniciar Sesion</a>
            </li>
            <button type="button" class="btn btn-light;" style="background-color:white ;border-color:#b08e44 ;" routerLink="/registrese">
                Registrese
              </button>
        </ul>
    </div>
</nav>
