<br>
<div class="clearfix">
  <img src="../../assets/images/account-image.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." style="height:35% ;width:35%;">
  <h3 style="margin-left: 2rem;">¡Bienvenido!</h3>
  <img src="../../assets/images/user-icon.png" alt="" style="width:10% ;height:10%;">
  Nombre de Usuario
  <h6 class="card-title fw-bold" style="margin-left: 2rem;">FoodCupons</h6>
  <p class="card-text" style="margin-left: 2rem;">¡Todos los descuentos en un solo lugar! Paga Menos, Come Mas</p>
</div>
<h6 class="card-title fw-bold" style="margin-left: 2rem;">A continuacion los mejores codigos promocionales y ofertas</h6>
  <p class="card-text fst-italic" style="margin-left: 2rem;">¡En tus tiendas preferidas y muchas mas!</p>
  <div class="card-group">
    <div class="card border-0" style="margin-left:2rem ;">
      <img
        src="../../assets/images/corral_logo.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
      >
    </div>
    <div class="card border-0">
        <img
          src="../../assets/images/qbano_logo.png"
          class="card-img-top"
          alt="..."
          (click)="mostrarCupon($event)"
        >
      </div>
    <div class="card border-0">
        <img
        src="../../assets/images/randys_icono.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
        >
    </div>
    <div class="card border-0">
        <img
        src="../../assets/images/crepes&wafles_wafles.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
        >
    </div>
    <div class="card border-0 bg-transparent">
        <img
        src="../../assets/images/calimio_logo.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
        >
    </div>
    <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/wok_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
    <img
    src="../../assets/images/burguer_king_logo.png"
    class="card-img-top"
    alt="..."
    (click)="mostrarCupon($event)"
    >
  </div>
  <div class="card border-0 bg-transparent" style="margin-right: 2rem;">
  <img
  src="../../assets/images/dominos_logo.png"
  class="card-img-top"
  alt="..."
  (click)="mostrarCupon($event)"
  >
  </div>
</div>
  <div class="card-group">
    <div class="card border-0 bg-transparent">
        <img
        src="../../assets/images/presto_logo.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
        >
    </div>
    <div class="card border-0 bg-transparent">
        <img
        src="../../assets/images/kfc_logo.png"
        class="card-img-top"
        alt="..."
        (click)="mostrarCupon($event)"
        >
    </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/mcdonalds_logo.png"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/sierra_nevada_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
    </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/papa_jons_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/ppc_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/spoleto_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/don_jediondo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
</div>
<div class="card-group">
  <div class="card border-0" style="margin-left:2rem ;">
    <img
    src="../../assets/images/andres_carnederes.png"
    class="card-img-top"
    alt="..."
    (click)="mostrarCupon($event)"
    >
  </div>
  <div class="card border-0 bg-transparent" style="margin-left: 2rem;">
      <img src="../../assets/images/dogger_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img
      src="../../assets/images/arroz_paisa_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
  <div class="card border-0 bg-transparent">
      <img src="../../assets/images/mis_carnes_parrilla_logo.png"
      class="card-img-top"
      alt="..."
      (click)="mostrarCupon($event)"
      >
  </div>
<div class="card border-0 bg-transparent">
    <img
    src="../../assets/images/yanuba-logo.png"
    alt="..."
    (click)="mostrarCupon($event)"
    >
</div>
<div class="card border-0 bg-transparent">
    <img
    src="../../assets/images/la_gordis_logo.png"
    class="card-img-top"
    alt="..."
    (click)="mostrarCupon($event)"
    >
  </div>
<div class="card border-0 bg-transparent">
    <img
    src="../../assets/images/buffalo_wings_alitas_logo.png"
    class="card-img-top"
    alt="..."
    (click)="mostrarCupon($event)"
    >
</div>
<div class="card border-0 bg-transparent" style="margin-right: 2rem;">
  <img
  src="../../assets/images/parrilla_boyacense_logo.png"
  class="card-img-top"
  alt="..."
  (click)="mostrarCupon($event)"
  >
  </div>
</div>
<nav aria-label="..." style="margin-left:2rem ;">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <span class="page-link">Anterior</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">2</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>

